.mainContainer {
    width: 100%;
    /* padding: 20px; */
    height: 99.8%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Open Sans', 'sans-serif';
}

.first {
    background-color: #282364;
    border: 1px solid white;
}

.second {
    background-color: #2b358b;
    border: 1px solid white;
}

.third {
    background-color: #3d4fa4;
    border: 1px solid white;
}

.fourth {
    background-color: #466baf;
    border: 1px solid white;
}

.fifth {
    background-color: #3b7bb6;
    border: 1px solid white;
}

.sixth {
    background-color: #bbe1fd;
    border: 1px solid white;
}

.seventh {
    background-color: #4aa3b1;
    border: 1px solid white;
}

.eighth {
    background-color: #5fbaa7;
    border: 1px solid white;
}

.ninth {
    background-color: #78ceb3;
    border: 1px solid white;
}

.tenth {
    background-color: #9fd79e;
    border: 1px solid white;
}
.eleven {
    background-color: #d2ec9b;
    border: 1px solid white;
}

.twelve {
    background-color: #e8f6c4;
    border: 1px solid white;
}

.thirteen {
    background-color: #ffecb3;
    border: 1px solid white;
}

.fourteen {
    background-color: #ffe082;
    border: 1px solid white;
}

.fifteen {
    background-color: #ffca28;
    border: 1px solid white;
}

.sixteen {
    background-color: #ffb300;
    border: 1px solid white;
}

.seventeen {
    background-color: #ffa000;
    border: 1px solid white;
}

.eighteen {
    background-color: #ff8f00;
    border: 1px solid white;
}

.nineteen {
    background-color: #ff7c00;
    border: 1px solid white;
}

.twenty-one {
    background-color: #ff6500;
    border: 1px solid white;
}
.twenty {
    background-color: #ff4e00;
    border: 1px solid white;
}

.divs{
    /* background-color: hotpink; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categoyName {
    color: #ffffff;
    font-size:0.825em;
}

.attributeCount {
    color: #ffffff;
    font-size: 1.125em;
    font-weight : bold;
}