<div class="mainContainer">
    <div *ngFor="let a of customValue; let i = index" [ngStyle]="{'width': width + '%', 
                'backgroundColor' : 'white', 
              'height':'100%'}">
                {{getDivs(i)}}
        <div *ngFor="let ar of final[i]; let in= index" [ngStyle]="{'height': getHeight(i+1)}">
              <div *ngFor="let b of [ar]"  [ngStyle]="{'height': 100 + '%'}"
              [ngClass]="{'first': (b.value == 0), 
              'second': (b.value == 1),
              'third': (b.value == 2),
              'fourth': (b.value == 3),
              'fifth': (b.value == 4),
              'sixth': (b.value == 5),
              'seventh': (b.value == 6),
              'eighth': (b.value == 7),
              'ninth': (b.value == 8),
              'tenth': (b.value == 9),
              'eleven':  (b.value == 10),
              'twenty': (b.value == 20),
              'twelve': (b.value == 11),
              'thirteen':  (b.value == 12),
              'fourteen':  (b.value == 13),
              'fifteen': (b.value == 14),
              'sixteen':  (b.value == 15),
              'seventeen': (b.value == 16),
              'eighteen':   (b.value == 17),
              'nineteen':   (b.value == 18),
              'twenty-one':  (b.value == 19)}">
              <div style="margin : 10px">
                <div class="categoyName">{{b.data['categoryName']}}</div>
                <div class="attributeCount">{{b.data['attributeCount']}}</div>
              </div>
            </div>
      </div>
    </div>
</div>


<!-- {{data}} -->

<!-- 'outline': '1px solid white', -->
